html {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  font-family: "Oswald", sans-serif;
  color: black;
}

header {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.container2 {
  margin-top: 10px;
}

#map {
  height: 50vh;
  width: 50vh;
  display: inline-flex;
  align-items: center;
}