body {
  background-color: lightgoldenrodyellow;
  font-family: "Oswald", sans-serif;
  color: black;
}

#search-area {
  display: inline-flex;
  flex-direction: row;
}

#search-result {
  opacity: 0;
}
