* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: "Oswald", sans-serif;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

b header {
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

.uk-section-primary {
  background-color: burlywood;
}

.uk-container-large {
  color: black;
}

.container {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.container2 {
  margin-top: 10px;
}

.fa-linkedin {
  color: #0072b1;
}

.fa-github-square {
  color: #171515;
}

#map {
  height: 50vh;
  width: 50vh;
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  html {
    height: max-content;
  }
}
