html {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: black;
  font-size: 20px;
}
ul {
  list-style-type: none;
  transition: all 0.2s ease-in-out;
}

li:hover {
  cursor: pointer;
  transform: scale(1.01);
}
