html {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-position: bottom;
  background-repeat: no-repeat;
}

body {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: black;
}

ol {
  list-style-type: none;
}
